.checkboxInput {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}
.deleteModule {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
}
.deleteModule input {
  margin: 0 20px;
}
.appear768 {
  display: none;
}

/* ****************************** RESPONSIVE *********************************/

@media (max-width: 768px) {
  .disappear768 {
    display: none;
  }
  .appear768 {
    display: inline;
  }
}
